:root {
  --mainBlue: #6cabdd;
  --silver: #c0c0c0;
  --darkBlue: #1c2c5b;
}

/* header elements */
#name {
  color: var(--darkBlue);
  font-size: 60px;
  font-weight: 600;
  margin-left: 3rem;
}

/* navlist elements */
#headNav {
  background: rgb(192, 192, 192);
  background: linear-gradient(
    90deg,
    rgba(192, 192, 192, 1) 0%,
    rgba(108, 171, 221, 1) 16%,
    rgba(28, 44, 91, 1) 100%
  );
  padding: 2rem;
}

#navbar {
  position: relative;
}

#navList {
  position: absolute;
  right: 3rem;
}

#headItem {
  color: var(--silver);
  font-size: 30px;
  font-weight: 500;
  margin: 1rem;
}

#headItem:hover {
  filter: drop-shadow(0px 0px 20px #c0c0c0);
}

#headItem:active {
  color: var(--darkBlue);
  filter: drop-shadow(0px 0px 20px #c0c0c0);
}

/* image area elemente */
.img-container {
  position: relative;
}

.floating-text {
  position: absolute;
  right: 8rem;
  top: 1.75rem;
  padding: 3rem;
  background-color: rgba(28, 44, 91, 0.4);
  color: var(--silver);
}

/* main body elements */
.about-me,
.portfolio,
.contact-me {
  color: var(--darkBlue);
  margin-top: 2rem;
}

.sec-header {
  padding-left: 5rem;
  border-right: var(--mainBlue) solid 3px;
}

/* portfolio and card section */
.card {
  margin: 1rem 2rem 1rem 2rem;
  background-color: rgba(108, 171, 221, 0.4);
}

/* contact section */

.contact-list {
  list-style: none;
}
